PORT=5001
SESSION_SECRET=secureblog_session_secret_key_tp1_2026
# Renseignez ici votre clé secrète Stripe (obtenue sur https://dashboard.stripe.com/test/apikeys)
STRIPE_SECRET_KEY=sk_test_placeholder
